<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Marketing - NET</title>
	{% include "support/cssjs.html" %}
</head>
<body class="navbar-md-md-top">
	{% include "support/navbar.html" %}
	<!-- Page content -->
	<div class="page-content pt-0">
		{% include "support/sidebar.html" %}
		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

				<!-- Basic card -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Basic card</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
					</div>
				</div>
				<!-- /basic card -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->
	</div>
<script>
	
</script>
</body>
</html>