<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Marketing - NET</title>
	{% include "support/cssjs.html" %}
</head>
<body class="navbar-md-md-top">
	{% include "support/navbar.html" %}
	<!-- Page content -->
	<div class="page-content pt-0">
		{% include "support/sidebar.html" %}
		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

				<!-- Basic card -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Dashboard</h5>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
		                		<a class="list-icons-item" data-action="reload"></a>
		                		<a class="list-icons-item" data-action="remove"></a>
		                	</div>
	                	</div>
					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-md-8">
								<div class="row">
									<div class="col-md-12">
										<div class="alert alert-info alert-styled-left alert-dismissible">
											<span class="font-weight-semibold">Haii.</span> Batas akhir input Tanggal <span class="font-weight-semibold">20 Oktober 2019.</span>
									    </div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<table class="table table-hover table-bordered">
									<thead class="text-center">
										<th>#</th>
										<th>Planning</th>
										<th>Tanggal</th>
										<th>Kegiatan</th>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>PT INDOCEMENT</td>
											<td>10/10/2019</td>
											<td>Bertemu KOPKAR</td>
										</tr>
										<tr>
											<td>2</td>
											<td>PT ASTRA</td>
											<td>15/10/2019</td>
											<td>Menawarkan Produk</td>
										</tr>
									</tbody>
								</table>
									</div>
								</div>
							</div>
							<div class="col-md-4  ml-md-auto border-1 rounded overflow-auto" style="max-height: 400px;">
								<div>
									<h3>Pengumuman</h3>
									<div class="media p-1">
										<div class="media-body">
											<div class="media-title d-flex justify-content-between">
												<span class="text-muted">20 Oktober 2019</span>
											</div>

											Hello some plentiful a beneath much glanced that savage pending dashingly and hare insane dull
										</div>
									</div>
									<div class="media p-1">
										<div class="media-body">
											<div class="media-title d-flex justify-content-between">
												<span class="text-muted">24 Oktober 2019</span>
											</div>
											Hello some plentiful a beneath much glanced that savage pending dashingly and hare insane dull
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<!-- /basic card -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->
	</div>
<script>
	
</script>
</body>
</html>